@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
body {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 95% 5%;
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
}

.desktop {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
}
.task_bar {
  z-index: 60;
  display: grid;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(83, 82, 82, 0.7),
    rgba(71, 71, 71, 0.7),
    rgba(37, 37, 37, 0.7)
  );
  grid-template-columns: 50px minmax(70%, auto) minmax(150px, 300px);
}
.task_bar_items_cont {
  padding-left: 10px;
  display: flex;
}
.task_bar_items_cont:nth-child(3) {
  display: none;
}
.task_bar_rigth_content {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 10px;
}
.mini_item {
  padding: 5px;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini_item img {
  width: 80%;
  height: 80%;
}
.task_bar_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task_bar_date span {
  color: white;
  display: block;
  text-align: center;
  letter-spacing: 0.2em;
}
.task_navigate img {
  width: 100%;
  height: 100%;
}

/* messages content */

.navigate_bar {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: #333333;
  top: 0;
  right: 0;
  padding: 0;
  color: white;
  overflow: auto;
  transition: all 0.5s ease 0s;
}
.styles_for_nav_bar {
  padding: 5px 15px;
  width: 25%;
  transition: all 0.5s ease 0s;
}
.navigate_bar::-webkit-scrollbar {
  width: 0;
}
.navigate_title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.navigate_blocks {
  height: 100%;
  width: 100%;
  padding: 15px 0;
}
.navigate_blocks h4 {
  font-size: 18px;
}
.nav_item {
  border-bottom: 2px solid black;
  width: 90%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 5px;
  font-family: "Philosopher", sans-serif;
  overflow: auto;
}
.nav_item::-webkit-scrollbar {
  width: 0;
}
.nav_item img {
  width: 20%;
  height: 100%;
}
.nav_item span {
  display: inline-block;
  font-size: inherit;
  text-align: right;
  width: 70%;
}
.start_but_item {
  border: none;
  padding-left: 0;
  margin-bottom: -20px;
  position: relative;
  overflow: visible;
  background-color: #333333;
  margin-bottom: 30px;
}
.start_but_item::after {
  position: absolute;
  content: "";
  width: 20px;
  background-color: black;
  box-shadow: 3px 2px 5px #000;
  height: 20px;
  top: 80%;
  z-index: -1;
  left: 4px;
  transform: rotate(45deg);
}
.menu_start_navigate {
  padding-top: 20px;
}
.under_item {
  padding-left: 30px;
}

/* ===========Animation Backgound=======*/
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.stars {
  background: black url("../images/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url() repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("../images/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
.moon {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
  background-image: url("../images/moon2.png");
  background-size: 100% 100%;
}
